// color...
$blood: #9f2e2e;
$deg: 5deg; 
$pc_deg: 30deg;

// mediaquery...
$pc: 949px;
$tab: 600px; // タブレット
$sp: 480px;  // スマホ

$outer-margin: 80px;


@mixin pc {
    @media screen and (min-width:$pc) {
        @content
    }
}

@mixin absolute-fix($width) {
    @media screen and (min-width:$pc) and (max-width:$width) {
        @content
    }
}
@mixin tab {
    @media screen and (min-width:$tab) and (max-width:$pc) {
        @content
    }
}



html, body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
}

body {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-family: Source Han Sans JP;
    overflow: hidden;
  }

  h1, h2, h3 {
    font-family: arial;
    text-align: center;
  }

  h2 {
    font-weight: bold;
    font-size: 20px;
    @include pc {
        font-size: 28px;
    }
  }

  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.header {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 8px solid $blood;
    box-sizing: border-box;

    @include pc {
        height: 88px;
        padding: 0 60px 0 $outer-margin;
    }

    &__logo {
        width: 100px;
        height: 21px;
        // 比率4.737
        @include pc {
            height: 50px;
            width: 237px;
        }
    }

    &-nav {
        box-sizing: border-box;
        height: 100%;
        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 250px;
            background-color: white;
            box-sizing: border-box;
            position: absolute;
            top: 60px;
            right: -260px;
            z-index: 100;
            height: 100vh;
            transition: all 500ms ease-in-out 0s; 
            filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));

            @include pc {
                height: 50px;
                display: block;
                position: static;
                top: auto;
                right: auto;
                transition: none;
                filter: none;
                z-index: 0;
                height: 100%;
                padding: 0;
                
            }

            
            &:hover{
                transform: translateX(-250px);

                @include pc {
                    transform: none;
                }
            }
            &.active {
                transform: translateX(-260px);

                @include pc {
                    transform: none;
                }
            }

            @include pc {
                width: auto;
                position: static;
                top:auto;
                right: auto;
                z-index: 0;
            }
            & li {
                padding: 10px 20px;
                width: 100%;
                background-color: white;
                box-sizing: border-box;

                @include pc {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    transition: all 500ms linear 0s;
                    height: auto;
                    box-sizing: border-box;
                    padding: 0;
                }

                & a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 100%;
                    text-decoration: none;
                    color: inherit;
                    width: 100%;

                    @include pc {
                        padding: 20px;
                        color: inherit;
                    }
                }
                &:hover {
                    // background: radial-gradient(#cc3838, $blood);
                    background-color: $blood;
                    color: white;
                    & p {
                        color: white;
                    }
                }

                &.active {
                    // background: radial-gradient(#cc3838, $blood);
                    background-color: $blood;
                    color: white;
                    & p {
                        color: white;
                    }
                }
            }
            
        }
        
        @include pc {
            display: block;
            &__list {
                flex-direction: row;
            }
        
        &__list{
            display: flex;

            & li{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: all 500ms linear 0s;
                height: 100%;
                box-sizing: border-box;

                & a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 100%;
                    padding: 20px;
                    text-decoration: none;
                    color: inherit;
                }

                &:hover {
                    // background: radial-gradient(#cc3838, $blood);
                    background-color: $blood;
                    color: white;
                    & p {
                        color: white;
                    }
                }

                &.active {
                    // background: radial-gradient(#cc3838, $blood);
                    background-color: $blood;
                    color: white;
                    & p {
                        color: white;
                    }
                }
                & h2 {
                    font-size: 18px;
                    text-decoration: none;

                }
                & p {
                    color: #3b3a3a;
                    font-size: 9px;
                    transition: all 500ms linear 0s;
                }
                
            }
        }
    }
    }
}

    @keyframes move-logo {
        0% {
            top: 40%;
            display: none;
        }

        30% {
            opacity: 0;
        }
        
        70% {
            top: 40%;
            opacity: 1;
        }

        100% {
            top: 15%;
        }
    }

    @keyframes move-logo-sp {
        0% {
            top: 40%;
            display: none;
        }

        30% {
            opacity: 0;
        }
        
        70% {
            top: 40%;
            opacity: 1;
        }

        100% {
            top: 5%;
        }
    }

    @keyframes move-desc {
        from {
            color: white;
        }

        to {
            color: black;
        }
    }

    @keyframes delete-animation {
        to {
            display: none;
        }
    }

    @mixin move-desc($late-time) {
        animation: move-desc 2s linear $late-time 1 alternate forwards; 
    }

    $img-animate: 3s;


    .eyecatch-slide {
        position: relative;
        z-index: 2;
        @include pc {
            height: auto;
        }
    
        .animation-before-slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: #ffffff;
            animation: delete-animation 1s linear 15s; 


            &.none {
                opacity: 0;
                transition: all 2s linear 1s;
            }
    
            img {
                position: relative;
                z-index: 5;
                height: 50px;
                top: 5%;

                @include tab {
                    height: 10%;
                    top: 15%;   
                    animation: move-logo $img-animate linear 0s 1 alternate none; 
                }

                @include pc {
                    height: 15%;
                    top: 15%; 
                    animation: move-logo $img-animate linear 0s 1 alternate none;   
                }
                
                animation: move-logo-sp $img-animate linear 0s 1 alternate none;
                
                
            }
    
            & .desc-wrapper {
                position: absolute;
                text-align: center;
                top: 30%;
                left: 50%;
                width: 100%;
                transform: translateX(-50%);
                font-size: 0.8em;
                line-height: 18px;
                

                @include tab {
                    font-size: 1em;
                    line-height: 22px;
                }

                @include pc {
                    padding-top: 50px;
                }

                p {
                    color: white;
                    font-weight: bold; 

                    br {
                        @include tab {
                            display: none;
                        }
                        @include pc {
                            display: none;
                        }
                    }

                    @include pc {    
                        font-size: 18px;
                        line-height: 30px;
                        font-weight: bold;  
                    }
    
                    &.description1 {
                        transition: all 1s ease 0s;
                        @include move-desc($img-animate)
                    }
                    &.description2 {
                        transition: all 1s ease 0s;
                        @include move-desc($img-animate*2)
                    }
                    &.description3 {
                        transition: all 1s ease 0s;
                        @include move-desc($img-animate*3)
                    }
                    &.description4 {
                        transition: all 1s ease 0s;
                        @include move-desc($img-animate*4)
                    }
                    &.description5 {
                        transition: all 1s ease 0s;
                        @include move-desc($img-animate*5)
                    }
                    &.description6 {
                        transition: all 1s ease 0s;
                        @include move-desc($img-animate*6)
                    }
                    &.description7 {
                        transition: all 1s ease 0s;
                        @include move-desc($img-animate*7)
                    }
                }
            }
            
        }
    

    & .main-carousel {
        height: 300px;
        @include pc {
            height: 475px;
        }
        & .carousel-cell {
            width: 100%;
            height: 100%;
            & div {
                background-size: cover;
                width: 100%;
                height: 100%;
                &.slide1 {
                    background-image: url("../img/top/eyecatch.jpeg");
                }
                &.slide2 {
                    background-image: url("../img/top/eyecatch2.jpg");
                    background-position: center center;
                }
                &.slide3 {
                    background-image: url("../img/top/eyecatch3.jpg");
                    background-position: center center;
                }
            }
        }
    }
}



.pc-sec-title {
    @include pc{
    display: flex;
    align-items: flex-end;
    & .skew {
        padding-right: 15px;
        transform: skewX(-30deg);
        border-right: 1px solid white;
        & h2 {
            transform: skewX(30deg);
        }
    }
    & h3 {
        font-size: 15px;
        margin-left: 15px;
        font-weight: bold;
        line-height: 15px;
    }


    }
}

.service {
    width: 100%;
    color: white;
    box-sizing: border-box;
    @include pc {
        display: flex;
    }

    &-description {
        padding: 130px 0 60px 0;
        background: radial-gradient(#cc3838, $blood);
        transform: skewY(-$deg);
        position: absolute;
        z-index: 1;
        top: 300px;

        @include pc {
            height: 500px;
            width: 50%;
            top: auto;
            left: -150px;
            transform: skewY($deg);
            transform: skewX(-$pc_deg);
            padding: 80px 0;
            box-sizing: border-box;
        }

        & .adjust_pc {
            @include pc{
                position: absolute;
                left: 210px;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                z-index: 10;
                transform: skewX($pc_deg);
            }
        }

        & h2, & h3 {
            transform: skewY($deg);
            @include pc {
                transform: skewY(0);
                text-align: left;
            }
        }

        // &__line {
        //     width: 10px;
        //     height: 10px;
        //     transform: skewX(-30deg);
        //     border-right: 1px solid #fff;
        // }

        &__content {
            transform: skewY($deg);
            padding: 30px;
            box-sizing: border-box;
            @include pc {
                width: 350px;
                transform: skewX($pc_deg);
                text-align: left;
                transform: skewY(0);
                padding: 50px 0;
            }
            @include absolute-fix(1120px) {
                width: 300px;
            }
            @include absolute-fix(1050px) {
                width: 200px;
            }
        }

    }

    &-item {
        height: 200px;
        width: 80%;
        margin-top: 10px;
        margin-bottom: 30px;
        border: 2px solid $blood;
        border-radius: 5px;
        box-sizing: border-box;

        @include pc {
            max-width:220px;
            width: 25%;
            min-height: 150px;
            margin: 20px 10px;
            &:first-child {
                margin-left: 40%;
            }
            height: auto;
            &:nth-child(2), &:nth-child(5) {
                margin-right: 0;
            }
        }
        @include tab {
            width: 30%;
            height: auto;
            margin-right: 15px;
            &:nth-child(3) {
                margin-right: 0;
            }
            &:nth-child(5) {
                margin-right: 0;
            }
        }

        &__image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            @include pc {
                height: 96px;
            }
            @include tab {
                height: 96px;
            }
        }

        & h2 {
            padding: 1em;
            font-weight: bold;
            background-color: $blood;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px 4px 0 0;
            font-size: 14px;
            white-space: nowrap;
            & img {
                margin-right: 5px;
            }

            #icon1 {
                background-image: url('../img/service/icon1.png');
                width: 46px;

            }
            #icon2 {
                background-image: url('../img/service/icon2.png');
                width: 25px;
            }
            #icon3 {
                background-image: url('../img/service/icon3.png');
                width: 24px;
            }
            #icon4 {
                background-image: url('../img/service/icon4.png');
                width: 27px;
            }
            #icon5 {
                background-image: url('../img/service/icon5.png');
                width: 35px;

            }
        }

        &__image {
            width: 90%;
            height: 120px;
            background-size: cover;
            box-sizing: border-box;
            @include pc {
                height: 79px;
            }
            @include tab {
                height: 79px;
            }
            background-position: center center;
        }

        & #service1 {
            background-image: url("../img/service/service1.jpg");
        }
        & #service2 {
            background-image: url("../img/service/service2.jpg");
        }
        & #service3 {
            background-image: url("../img/service/service3.jpg");
        }
        & #service4 {
            background-image: url("../img/service/service4.jpg");
        }
        & #service5 {
            background-image: url("../img/service/service5.jpg");
        }


        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 450px;
            @include pc {
                margin: 0;
                flex-direction: row;
                height: 500px;
                position: absolute;
                right:0;
                width: 70%;
                flex-wrap: wrap;
                justify-content: flex-end;
                padding-right: 0px;
                align-content: center;
                margin-right: 90px;
                
            }
            @include tab {
                flex-direction: row;
                flex-wrap: wrap;
                margin: 400px auto 0 auto;
                width: 95%;
                justify-content: center;
            }
        }
    }
    &-link {
        text-align: center;
        transform: skewY($deg);
        @include pc {
            transform: skewX($pc_deg);
            transform: skewY(0);
            text-align: left;
        }

        &__button {
            text-decoration: none;
            color: white;
            text-align: center;
            border: 1px solid white;
            border-radius: 40px;
            width: 50px;
            padding: 10px 50px;
            box-sizing: border-box;
            transition: all 500ms linear 0s;
            @include pc {
            }
            &:hover {
                background-color: white;
                color: $blood;
            }
        }
    }

}

.concept {
    @include pc {
        display: flex;
        margin-top: 500px;
    }
    &__eyecatch {
        height: 300px;
        background-image: url('../img/top/eyecatch.jpeg');
        background-size: cover;   
        @include pc {
            height: 475px;
            width:50%;
        } 
    }

    &__description {
        color: white;
        min-height: 200px;
        background: radial-gradient(#cc3838, $blood);
        padding: 60px 0;
        @include pc {
            width:50%;
            padding: 90px $outer-margin 0 $outer-margin;
            box-sizing: border-box;
        }
        p {
            padding: 30px 30px 0 30px;
            @include pc {
                padding:60px 0 0 0;
            }
        }
    }
}

.access {
    min-height: 200px;
    padding: 60px 0;
    @include pc {
        width: 50%;
        padding: 80px $outer-margin;
        box-sizing: border-box;
    }
    &__map {
        display: flex;
        justify-content: center;

        @include pc {
            display: block;
        }

        & iframe {
            margin-top: 30px;
            width: 80%;
            height: 300px;
            @include pc {
                margin-top: 60px;
                width: 100%;
            }
        }
    }

    .pc-sec-title .skew {
        @include pc {
            border-right: 1px solid black;
        }
    }
}

.company {
    min-height: 200px;
    padding: 0;
    @include pc {
        width: 50%;
        padding: 80px $outer-margin;
        box-sizing: border-box;
    }
    table {
        width: 80%;
        padding: 30px 0;
        display: block;
        margin: 0 auto 30px auto;;
        & th{
            font-weight: bold;
            white-space: nowrap;
            padding-right: 10px;
            padding-bottom: 10px;
            text-align: left;
        } 
        @include pc {
            margin: 0;
            padding-top: 60px;
            width: 100%;
        }
    }
    
    .pc-sec-title .skew {
        @include pc {
            border-right: 1px solid black;
        }
    }
}

.footer {
    min-height: 100px;
    background-color: #2e2e2e;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    font-size: 12px;

    @include pc {
        flex-direction: row-reverse;
        padding: 40px $outer-margin;
    }

    & small {
        font-size: 10px;
    }
    & .numbers {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @include pc {
            flex-direction: row;
        }
    
        & .phone, .fax {
            display: flex;
            @include pc {
                flex-direction: column;
                margin-right: 20px;
            }
            &__h {
                margin-right: 5px;
            }
            &__n {
                font-weight: bold;
            }
        }
        & .fax {
            margin-right: 0px;
        }
    }
    & .copyright {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @include pc {
            flex-direction: row;
            padding-left: 5px;
            & small {
                margin-left: 20px;
            }
        }
    }

    &__nav {
        display: none;
        
        @include pc {
            display: flex;
            margin-bottom: 20px;

            & li {
                border-right: 1px solid white;
                padding:0 5px;
                line-height: 15px;
                &:last-child {
                    border: none;
                }
            }
            & a {
                text-decoration: none;
                padding-bottom: 1px;
                color: white;
                &:hover {
                    border-bottom: white 1px solid;
                }
            }
        }
    }
}

.flex {
    @include pc{
        display:flex;
    }
}

// サービスページ

.page-eyecatch {
    width: 100%;
    height: 300px;
    background-image: url("../img/top/eyecatch.jpeg");
    background-size: cover;
    position: relative;

    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin:0;
        padding: 0;
        color: white;
        & h1 {
            font-size: 28px;
            font-weight: bold;
            padding-bottom: 10px;
        }

        & p {
            line-height: 14px;
            padding-top: 10px;
            border-top: 1px solid white;
            font-weight: bold;
        }
    }
}

.service-detail {
    margin-top: 90px;
    width: 100%;
    margin: 0;
    @include pc {
        width: 80%;
        margin: 90px auto 0 auto;
    }
    &__nav {
        & h2 {
                font-size: 14px;
                margin: 0 0px 0 10px;
            }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        & li {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & button {
            position: relative;
            display: flex;
            align-items: center;
            padding: 20px 15px;
            box-sizing: border-box;
            width: 100%;
            justify-content: center;
            h2 {
                white-space: nowrap;
            }

            & img {
                filter: invert(100%);
            }
            &:hover {
                background-color: $blood;
                color: white;
                & img {
                    filter: none;
                }
            }
            &.active {
                background-color: $blood;
                color: white;
                & img {
                    filter: none;
                }
                &::before {
                    content: '';
                    position: absolute; 
                    bottom: -20px; 
                    left: 50%;
                    margin-left: -10px; 
                    border: 10px solid transparent; 
                    border-top-color: $blood;                  
                }
            }

            &:hover::before {
                content: '';
                position: absolute; 
                bottom: -20px; 
                left: 50%;
                margin-left: -10px; 
                border: 10px solid transparent; 
                border-top-color: $blood;                  
            }
        }

        @include pc {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width:100%;
            margin: 0 auto;
            & li {
                display: block;
                width: 20%;
            }
            & button {
                position: relative;
                display: flex;
                align-items: center;
                padding: 20px 15px;
                box-sizing: border-box;
                width: 100%;
                justify-content: center;

                & img {
                    filter: invert(100%);
                }
                &:hover {
                    background-color: $blood;
                    color: white;
                    & img {
                        filter: none;
                    }
                }
                &.active {
                    background-color: $blood;
                    color: white;
                    & img {
                        filter: none;
                    }
                }



                &:hover::before {
                    content: '';
                    position: absolute; 
                    bottom: -20px; 
                    left: 50%;
                    margin-left: -10px; 
                    border: 10px solid transparent; 
                    border-top-color: $blood;                  
                }
            }

            & h2 {
                font-size: 14px;
                margin: 0 0px 0 10px;
            }
        }
    }

    &__eyecatch {
        width: 100%;
        background-image: url("../img/service/service1.jpg");
        background-position: center center;
        background-size: 100%;
        @include pc {
            height: 330px;
        }
    }

    &__description {

        display: none;

        ul {
            width: 80%;
            margin: 0 auto 40px auto;
        }
        li {
            list-style: disc;
        }

        &.active {
            display:block;
        }

        & h3 {
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 20px;
        }
        & p {
            width: 80%;
            margin: 0 auto 40px auto;
        }

        @include pc {
            width: 100%;
            padding: 80px 30px;

            & h3 {
                margin-top: 0;
                text-align: left;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 20px;
            }

            & p {
                margin: 0 0 50px 0;
                width: 80%;
            }
        }
        
    }
}

.privacy-policy {
    width:80%;
    margin: 80px auto;

    p.name {
        margin: 0;
        padding: 0;
        text-align: right;
    }

    &__description {
        & h3 {
            text-align: left;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 20px;
        }
        & p {
            margin-bottom: 50px;
            width: 100%;
        }
        .auth-data {
            display: flex;
            justify-content: flex-end;
            p {
                margin: 30px 0;
                font-size: 14px;
                width: 220px;
                height: 120px;
            }
        }
        & .privacy-mark {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px 0;
            & p {
                width: 100%;
                margin-left: 15px;
                margin-bottom: 0;
            }
        }
    }

}

.company-detail {
    width: 80%;
    margin: 80px auto;

    & h2 {
        padding-left: 10px;
        border-left: 5px solid $blood;
        font-size: 16px;
        font-weight: bold;
        line-height: 22px; 
        text-align: left;
    }
    & p {
        padding: 25px 20px;
        margin-bottom: 40px;
    }

    & table {
        padding: 25px 20px;
        display: block;
        margin-right: 20px;
        margin-bottom: 40px;

        & th{
            font-weight: bold;
            white-space: nowrap;
            padding-right: 10px;
            padding-bottom: 10px;
            text-align: left;
        }
    }
    & iframe {
        padding: 25px 20px;
        width: 100%;
        height: 280px;
        box-sizing: border-box;
    }
    & .research-area {
        padding: 25px 20px;
        box-sizing: border-box;
        margin-bottom: 40px;

    }
}

.recruit {
    width: 80%;
    margin: 80px auto;

    & h2 {
        padding-left: 10px;
        border-left: 5px solid $blood;
        font-size: 16px;
        font-weight: bold;
        line-height: 22px; 
        text-align: left;
    }
    & p {
        padding: 25px 20px;
        margin-bottom: 40px;
    }

    & .tel-button {
        display: flex;
        height: 50px;
        width: 200px;
        justify-content: space-between;
        background-color: $blood;
        padding: 15px 20px;
        align-items: center;
        box-sizing: border-box;

        text-decoration: none;
        color: white;

        &::before{
            content: "";
        }
        &__mark{
            width: 20px;
            height:20px;
            transform: rotateX(90deg);
            border:white 1px solid;
        }

        &::after{
            content: "";
        }

    }

}

// ハンバーガー

.nav-trigger,
.nav-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.nav-trigger {
  position: relative;
  width: 38px;
  height: 34px;
  @include pc {
      display: none;
  }
}
.nav-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: $blood;
  border-radius: 4px;
}
.nav-trigger span:nth-of-type(1) {
  top: 0;
}
.nav-trigger span:nth-of-type(2) {
  top: 15px;
}
.nav-trigger span:nth-of-type(3) {
  bottom: 1px;
}

.nav-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
  }
  .nav-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .nav-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-14px) rotate(45deg);
    transform: translateY(-14px) rotate(45deg);
  }


  // loading animation

  $w-size: 200px;
$w-margin: -$w-size/2;
$b-size: 70%; //This is % based on $w-size. Use any value you want (that makes sense) and any unit that you would like (test it)
$box-wrapper-width: $b-size;
$box-wrapper-height: $b-size;
$box-wrapper-margin: calc((100% - #{$box-wrapper-height})/2) calc((100% - #{$box-wrapper-width})/2);

//clip-path: inset() doesn't work on firefox and IE, if anyone feels like making it work with SVG clipping, please drop me a link in comments, would like to see it. :) 

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.loading {
    position: relative;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        position: absolute;
        width: 100px;
        z-index: 10001;
        transform: translateX(-50%);
        transform: translateY(-50%);
        animation: rotate 2s ease 0s infinite;
    }
}

@keyframes rotate {
    0% {
        -webkit-transform:rotateY(0deg);
        transform:rotateY(0deg);
    }
    25% {
        -webkit-transform:rotateY(90deg);
        transform:rotateY(90deg);
    }
    50% {
        -webkit-transform:rotateY(180deg);
        transform:rotateY(180deg);
    }
    75% {
        -webkit-transform:rotateY(270deg);
        transform:rotateY(270deg);
    }
    100% {
        -webkit-transform:rotateY(360deg);
        transform:rotateY(360deg);
    }
}

.page-loaded {
    display: block;
}


.blob {
    width: 2rem;
    height: 2rem;
    background: rgba(230,230,230,0.85);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
    z-index: 10001;
}

.blob-2 { animation: animate-to-2 1.5s infinite; }
.blob-3 { animation: animate-to-3 1.5s infinite; }
.blob-1 { animation: animate-to-1 1.5s infinite; }
.blob-4 { animation: animate-to-4 1.5s infinite; }
.blob-0 { animation: animate-to-0 1.5s infinite; }
.blob-5 { animation: animate-to-5 1.5s infinite; }

@keyframes animate-to-2 {
    25%, 75% { transform: translateX(-1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-3 {
    25%, 75% { transform: translateX(1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-1 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(-4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-4 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-0 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50% { transform: translateX(-4.5rem) scale(0.6); }
    75% { transform: translateX(-7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-5 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50% { transform: translateX(4.5rem) scale(0.6); }
    75% { transform: translateX(7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}



.flickity-page-dots {
    @include pc {
        bottom: 10px;
    }
}